/* Active link underline animation */
.active {
  color: blue;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* underline position */
  height: 3px;  /* underline thickness */
  width: 0;
  background-color: blue;
  transition: width 0.5s ease-in-out;
}

/* Animate when active */
.active::after {
  animation: underlineAnim 1s forwards;
}

@keyframes underlineAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
