@plugin "daisyui";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}
.my-name{
    font-family: "Elsie", serif;
}
.bg-animation{
    background-image: url(./assets/animated/react.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;
}