@plugin "daisyui";
@import "tailwindcss";


.bg-animation{
    background-image: url(./assets/animated/react.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;
}